<html lang="en">
  <%- include('modules/head.ejs')%>
  <body>
    <%- include('modules/nav.ejs')%>
    <div class="container mt-5">
      <h2>Edit Ride</h2>
      <form action="/edit/<%=data._id%>" method="post">
        <!-- Source Address Input -->
        <div class="form-group">
          <label for="sourceAddress">Source Address</label>
          <select class="form-control" id="sourceAddress" name="sourceAddress">
            <option value="<%=data.sourceAddress%>" selected>
              <%=data.sourceAddress%>
            </option>
            <% governorates.forEach(governorate => { %>
            <option value="<%= governorate %>"><%= governorate %></option>
            <% }); %>
          </select>
        </div>
        <!-- Destination Address Input -->
        <div class="form-group">
          <label for="destinationAddress">Destination Address</label>
          <select
            class="form-control"
            id="destinationAddress"
            name="destinationAddress"
          >
            <option value="<%=data.destinationAddress%>" selected>
              <%=data.destinationAddress%>
            </option>
            <% governorates.forEach(governorate => { %>
            <option value="<%= governorate %>"><%= governorate %></option>
            <% }); %>
          </select>
        </div>
        <!-- Date Input -->
        <div class="form-group">
          <label for="rideDate">Date</label>
          <input
            type="date"
            class="form-control"
            id="rideDate"
            name="rideDate"
            value="<%=data.rideDate%>"
          />
        </div>
        <!-- Hour Input -->
        <div class="form-group">
          <label for="rideHour">Hour</label>
          <input
            type="time"
            class="form-control"
            id="rideHour"
            name="rideHour"
            value="<%=data.rideHour%>"
          />
        </div>
        <!-- Seats Left Input -->
        <div class="form-group">
          <label for="seatsLeft">Seats Left</label>
          <input
            type="number"
            class="form-control"
            id="seatsLeft"
            name="seatsLeft"
            min="1"
            value="<%=data.seatsLeft%>"
          />
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Edit Ride</button>
      </form>
    </div>
  </body>
</html>
